@import url("base.css");

#panel {
    position: absolute;
    width: 100%;
    top: 40px;
}

#clock,#date {
    float: left;
    font-size: 30px;
    padding: 5px 15px;
}

#clock {
    margin: 0px 0px 0px 0px;
    background-color: #fbb434;
    color: black;
    padding-left: 60px;
}

#date {
    margin:0px;
    background-color: black;
    color:  #fbb434;;
}

#lang {
    margin: 0px 50px 0px 0px;
}

#F1_lang img,#FC_lang img {
    margin: 10px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
    vertical-align: baseline;
}

#F1_lang,#FC_lang {
    float: right;
    font-size: 25px;
}

#FC_lang {
    border-right: solid 2px;
    border-color: #444444;
    margin: 0px 0px 0px 0px;
    padding: 5px 15px 5px 15px;
}

#F1_lang {
    margin: 0px 0px 0px 0px;
    padding: 5px 15px 5px 15px;
}



#new_buttons {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
}

#logo-main {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20%;
    left: 48%;
    margin: -125px 0 0 -125px;
}

/*#new_button_1 {
    width: 100%;
    height: 250px;
    position: absolute;
    top: 55%;
    behavior: url(PIE.htc);
    border-radius: 5px;
}*/
#new_button_1{
    background-color: #fbb434;
    width: 950px;
    height: 170px;
    behavior: url(PIE.htc);
    border-radius: 5px;
}

.new_button {
    background-color: #fbb434;
    width: 350px;
    height: 170px;
    behavior: url(PIE.htc);
    border-radius: 5px;
}

#new_button_3 {
    background-color: #d08f34;
}

.new_button p {
    font-weight: 500;
    text-align: center;
    font-size: 50px;
}

#new_button_1 p,{
    background-color: #fbb434;
    margin: 10px 280px 10px 280px;
    padding: 10px 10px 10px 10px;
    font-weight: 700;
    text-align: center;
    font-size: 90px;
    behavior: url(PIE.htc);
    border-radius: 5px;
}

#sum p {
    width: 100%;
    height: 20px;
    font-weight: normal;
    position: absolute;
    top: 83%;
    left: 57px;
    font-size: 40px;
}

#footer {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0px;
    background-color: #fbb434;
}

#text_info form input {
    float: left;
    height: 80px;
    font-weight: bold;
    margin: 25px 0px 0px 57px;
    font-size: 60px;
    background-color: #fbb434;
}

#help {
    margin: 15px 40px 15px 15px;
}

#help div {
    float: right;
    text-align: center;
    width: 70px;
    height: 60px;
    font-size: 50px;
    font-weight: bold;
    color:#fbb434;
    background-color: black;
    margin: 6px 6px 6px 6px;
    padding: 4px;
    behavior: url(PIE.htc);
    border-radius: 5px;
}



